

.cls2 {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 50px;
  
  
 
  color: white;
}
.cls2 li{
  transition: transform(0.3s);
}
.cls2 li:hover{
  color: red;
  transform: scale(1.2);
  
}
.cls1{
  height: 70px;
  background-color:#282c34 ;
}


